<div class="card">
  <div class="card-header">
    <h2>{{ !$state.params.proveedor_id ? 'Nuevo' : 'Editar' }} {{ module }} <small>Ingrese la informaci&oacute;n.</small></h2>
  </div>

  <div class="card-body card-padding">
    <form rol="form" name="form" ng-submit="submitForm(form.$valid)" novalidate>
      <div class="row">
        <div class="col-sm-6" ng-class="{ 'has-error' : form.proveedor_desc.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="proveedor_desc" ng-model="data.proveedor_desc" placeholder="Nombre" required>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.contacto.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="contacto" ng-model="data.contacto" placeholder="Nombre del contacto" required>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.telefono.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="telefono" ng-model="data.telefono" placeholder="Teléfono" required>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.direccion.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="direccion" ng-model="data.direccion" placeholder="Dirección" required>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.nit.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="nit" ng-model="data.nit" placeholder="NIT">
          </div>
        </div>
        <div class="col-sm-4" ng-class="{ 'has-error' : form.estado.$invalid && form.$submitted }">
          <div class="fg-line form-group">
            <ui-select class="form-control input-sm" name="estado" ng-model="data.estado" theme="bootstrap" sortable="true" required>
              <ui-select-match class="ui-select-match" placeholder="Estado">{{$select.selected.estado_desc}}</ui-select-match>
              <ui-select-choices class="ui-select-choices" repeat="item.estado as item in dataEstado | filter: {estado_desc: $select.search}">
                <div ng-bind-html="item.estado_desc | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <a class="btn btn-default" ui-sref="^.list">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
