<div class="card">
  <div class="card-header">
    <h2>Detalles del producto</h2>
  </div>

  <div class="card-body card-padding">
    <form rol="form" name="form" ng-submit="submitForm(form.$valid)" novalidate>
      <div class="row">
        <div class="col-sm-6" ng-class="{ 'has-error' : form.producto_desc.$invalid && form.$submitted }">
          <label class="control-label" for="producto_desc">Nombre</label>
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="producto_desc"
              ng-model="dataProducto.producto_desc" placeholder="Nombre" required readonly>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.existencia.$invalid && form.$submitted }">
          <label class="control-label" for="existencia">Existencia</label>
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="existencia" ng-model="dataProducto.existencia" placeholder="Existencia" required readonly>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.cantidad_minima.$invalid && form.$submitted }">
          <label class="control-label" for="cantidad_minima">Cantidad mínima</label>
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="cantidad_minima" ng-model="dataProducto.cantidad_minima"
            placeholder="Cantidad Minima" required numbers-only readonly>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.categoria_id.$invalid && form.$submitted }">
          <label class="control-label" for="categoria_id">Categoría</label>
          <div class="fg-line form-group">
            <ui-select class="form-control input-sm" name="categoria_id"
            ng-model="dataProducto.categoria_id" theme="bootstrap" sortable="true" required readonly>
              <ui-select-match class="ui-select-match" placeholder="categoria">{{$select.selected.categoria_desc}}</ui-select-match>
              <ui-select-choices class="ui-select-choices" repeat="item.categoria_id as item in dataCategoria | filter: {categoria_desc: $select.search}">
                <div ng-bind-html="item.categoria_desc | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : form.cantidad_minima.$invalid && form.$submitted }">
          <label class="control-label" for="fecha_vencimiento">Fecha de vencimiento</label>
          <div class="fg-line form-group">
            <input type="text" class="form-control input-sm" name="fecha_vencimiento" ng-model="dataProducto.fecha_vencimiento"
            placeholder="Cantidad Minima" required readonly>
          </div>
        </div>
        <div class="col-sm-12">
          <label class="control-label" for="imagen">Imagen</label>
          <div class="fg-line form-group">
            <img class="img-responsive" ng-src="{{dataImg.urlImg}}" alt="Imagen de la sección">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-success" ng-click="cerrarVentana()">Cerrar</a>
        </div>
      </div>
    </form>
  </div>
</div>
